*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: center; /* Alinha os itens para o centro */
    margin-top: 30px; /* Adiciona uma margem superior de 20 pixels */
}

.header-content h1 {
    margin-right: 20px; /* Espaçamento entre o texto e a imagem */
}
#imagem-de-telefone {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.40));
}

header h1 {
font-family: "Kavoon", serif;
font-weight: 400;
font-style: normal;
font-size: 48px;
line-height: 60px;
text-align: center;
text-transform: capitalize;
color: #3B6F97;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
    background-color: #D8F3FC;
}

.container {
    text-align: center;
}

form {
    margin-top: 20px; /* Adiciona uma margem superior de 20 pixels */
    margin-bottom: 30px; /* Adiciona uma margem inferior de 20 pixels */
}

form input {
    margin-right: 35px;
}

input[type="text"], input[type="number"] {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff; /* Fundo branco */
    border: 1px solid #000000; /* Borda preta */
    border-radius: 5px; /* Cantos arredondados */
    padding: 10px; /* Espaçamento interno */
    width: 250px; /* Largura da caixa de texto */
    box-sizing: border-box; /* Garante que a largura inclua padding e borda */
    box-shadow: 1px 1px 1px black;
}

button {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-shadow:#000 1px 1px;
    color: #ffffff;
    width: 90px;
    height: 38.5px;
    border-radius: 5px;
    border: 1px solid #000000; /* Borda preta */
    background-color: #176AB3;
    box-shadow: 1px 1px 1px black;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse; /* Para garantir uma visualização consistente */
    width: 35%;
}

thead {
    background-color: #FFFCDB;
    border: 1px solid black;
}

tbody {
    background-color: white;
    border: 1px solid black;
}

thead, td {
    text-align: left;
}

th, td {
    padding: 5px; 
}

